* {
    box-sizing: border-box;
}
main {
    width: 650px;
    margin: 0 auto;
}
.game-board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 25px;
}
.game-board > div {
    display: grid;
    height: 200px;
    width: 100%;
    border-radius: 10%;
    justify-content: center;
    align-content: center;
}
.status-board {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
}
.subboard {
    border: 2px solid black;
    padding: 0.5rem;
}
.tile {
    box-shadow: 0 0 15px rgba(150, 150, 150, 0.8);
    transition: all 0.5s ease-out;
}
.redPlayer {
    box-shadow: 0 0 25px rgba(255, 10, 10, 0.8);
}
.bluePlayer {
    box-shadow: 0 0 25px rgba(60, 60, 255, 0.8);
}
h3 {
    margin: 0;
}
p {
    margin-top: 0;
}