* {
    box-sizing: border-box;
}
main {
    width: 650px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    color: rgb(80, 80, 80);
}
header {
    display: flex;
    align-items: center;
}
.game-board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 25px;
}
.shake-horizontal {
	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.game-board > div {
    display: grid;
    height: 200px;
    width: 100%;
    border-radius: 10%;
    justify-content: center;
    align-content: center;
}
.status-board {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 25px;
    margin-top: 25px;
}
.subboard {
    box-shadow: 0 0 15px rgb(0, 187, 178);
    border-radius: 20px;
    padding: 1rem;
}
.tile, .no-winner {
    box-shadow: 0 0 15px rgba(150, 150, 150, 0.8);
    transition: all 0.5s ease-out;
}
.no-winner {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    display: inline-block;
    border-radius: 25%;
}
.red-player, .red-winner {
    box-shadow: 0 0 25px rgba(255, 10, 10, 0.8);
}
.blue-player, .blue-winner {
    box-shadow: 0 0 25px rgba(60, 60, 255, 0.8);
}
h1 {
    display: inline-block;
    margin-right: 0.5rem;
    font-weight: 500;
}
.bot-mode {
    color: rgb(0, 187, 178);
    animation: text-flicker-in-glow 4s linear both;
}
.super-bot-mode {
    color: rgb(231, 2, 2);
    font-weight: 700;
    animation: text-flicker-in-glow 4s linear both;
}
h3 {
    margin: 0;
    font-weight: 500;
}
h6 {
  text-align: right;
  margin-bottom: 0;
}
p {
    margin-top: 0;
}
#reset-box :hover {
    cursor: pointer;
}
.reset-btn {
  float: right;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 12:45:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @keyframes shake-horizontal {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
    80% {
      transform: translateX(8px);
    }
    90% {
      transform: translateX(-8px);
    }
  }
  @keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.45), 0 0 60px rgba(0, 0, 0, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.45), 0 0 60px rgba(0, 0, 0, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.45), 0 0 60px rgba(0, 0, 0, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.45), 0 0 60px rgba(0, 0, 0, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.45), 0 0 60px rgba(0, 0, 0, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.55), 0 0 60px rgba(0, 0, 0, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.55), 0 0 60px rgba(0, 0, 0, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.55), 0 0 60px rgba(0, 0, 0, 0.35), 0 0 100px rgba(0, 0, 0, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.55), 0 0 60px rgba(0, 0, 0, 0.35), 0 0 100px rgba(0, 0, 0, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.55), 0 0 60px rgba(0, 0, 0, 0.4), 0 0 110px rgba(0, 0, 0, 0.2), 0 0 100px rgba(0, 0, 0, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.55), 0 0 60px rgba(0, 0, 0, 0.4), 0 0 110px rgba(0, 0, 0, 0.2), 0 0 100px rgba(0, 0, 0, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.6), 0 0 60px rgba(0, 0, 0, 0.45), 0 0 110px rgba(0, 0, 0, 0.25), 0 0 100px rgba(0, 0, 0, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.6), 0 0 60px rgba(0, 0, 0, 0.45), 0 0 110px rgba(0, 0, 0, 0.25), 0 0 100px rgba(0, 0, 0, 0.1);
    }
  }
  